@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2,h3{
    @apply font-poppins;
    font-weight: 400
}

body {
  @apply font-saira bg-light-100 dark:bg-dark-200 dark:text-white;
  font-weight: 300;
}

/* test:{
  color:#2e2f3f;
} */

@layer base {
  :root {
        --radius: 0.5rem
    }
}

